<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<title>한국어 맞춤법/문법 검사기</title>
</head>
<body>
	<p>
		한국어 맞춤법 문법 검사기는 상용 프로그램입니다.<br> 웹검사기는 개인 용도로 사용할 수 있게 편의를 제공하는
		것입니다.<br> 최근 웹검사기를 허락 없이 다른 응용프로그램에서 사용하거나, <br> 기업에서 이용하는
		사례가 발견되어 개선하는 중입니다. <br> 불편을 끼쳐 죄송합니다.<br> <br> 아래에
		해당하는데 사용이 안 된다면, 문의해 주십시오.<br> - 가정이나 PC방 등에서 사용하는 개인<br> -
		대법원도서관, 조선일보, 특허청, SBS<br> <br> (문의: 051-516-9268,
		urimal@pusan.ac.kr)
	</p>
</body>
</html>